<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538365428552-dhhkckdttppvkr655b90ncerfq6q98pf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538365428552-dhhkckdttppvkr655b90ncerfq6q98pf</string>
	<key>API_KEY</key>
	<string>AIzaSyAmJhln1SvP616nTYnOdyZpEzoflGgssV8</string>
	<key>GCM_SENDER_ID</key>
	<string>538365428552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Pedro-Toledo.Finstagram</string>
	<key>PROJECT_ID</key>
	<string>finstagram-b7f06</string>
	<key>STORAGE_BUCKET</key>
	<string>finstagram-b7f06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538365428552:ios:76bfd217ef9d0cbb51297d</string>
</dict>
</plist>